[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
peakutils = "*"
plotly = "*"
"boto3" = "*"
numpyencoder = {git = "https://github.com/hmallen/numpyencoder.git"}

[dev-packages]

[requires]
python_version = "3.6"
